@import "./normalize.css";
@import "./phone.css";
@import "./plate.css";
@import "./computer.css";
i {
    font-style: normal;
}

textarea {
    border: none;
    resize: none;
    outline: none;
}

input {
    outline: none;
    border: 1px solid #eee;
}

button {
    outline: none;
}


/* 主页面设置*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FDF6E3;
    margin: 0 auto;
    white-space: normal;
}


/* !important的作用是提高指定样式规则的应用优先权。*/

body>*:first-child {
    margin-top: 0 !important;
}

body>*:last-child {
    margin-bottom: 0 !important;
}


/* <tt> 标签与 <code> 和 <kbd> 标签一样，<tt> 标签和必
需的 </tt> 结束标签告诉浏览器，要把其中包含的文本显示
为等宽字体。*/


/* 标题 h1~h2*/


/* ====================================================*/

h1 {
    font-size: 2.8em;
    color: #d33682;
}

h2 {
    font-size: 2.4em;
    color: #9B31EA;
}

h3 {
    font-size: 1.8em;
    color: #338000;
}

h4 {
    font-size: 1.4em;
}


/* p,a,,hr,list,table*/


/* ==================================================*/


/*<blockquote> 标签定义摘自另一个源的块引用。浏览器
通常会对 <blockquote> 元素进行缩进。
*/

blockquote {
    font-style: italic;
    border-left: 5px solid;
    margin-left: 2em;
    padding-left: 1em;
}


/**img*/


/* hr */

hr {
    clear: both;
    margin: 5px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 2px solid #ddd;
    padding: 0;
}


/*  link*/

a {
    color: #b58900;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    color: #cb4b16;
    text-decoration: underline;
}

a:visited {
    color: #cb4b16;
}


/* list */

ul,
ol {
    margin: 0 0 1.5em 1.5em;
}

ol li {
    list-style-type: decimal;
    list-style-position: outside;
}

ul li {
    list-style-type: disc;
    list-style-position: outside;
}


/* tables */

table thead,
table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 242, 224);
}

table {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 242, 224);
}

thead,
table td:nth-child(1) {
    font-weight: bold;
    color: #7034ca;
}


/* Padding and font style */

table td,
table th {
    font-size: 12px;
    font-family: Verdana;
    color: rgb(149, 170, 109);
}


/* Alternating background colors */

table tr:nth-child(even) {
    background: rgb(230, 238, 214)
}

table tr:nth-child(odd) {
    background: #FFF
}


/* code */


/* =======================================*/

pre {
    border-radius: .5em;
    border: .2em solid hsl(0, 0%, 33%);
    box-shadow: 1px 1px 0.5em black inset;
    overflow: auto;
    background: hsl(0, 0%, 8%);
}

pre,
code,
tt {
    font-size: 10px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code,
tt {
    margin: 0 0px;
    padding: 0px 0px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

pre>code {
    margin: 0;
    padding: 0;
    white-space: pre;
    color: rgba(203, 75, 22, 0.86);
    font-size: 14px;
    border: none;
    background: transparent;
}

pre code,
pre tt {
    background-color: transparent;
    border: none;
}


/*目录形成的范围*/

#outline-list {
    height: 325px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 80px;
    right: 15px;
    width: 220px;
}


/* 设置滚动条的样式 */

::-webkit-scrollbar {
    width: 12px;
}